# Created by .ignore support plugin (hsz.mobi)
Будет удалено .gitignore
Будет удалено .idea/
Будет удалено __pycache__/
Будет удалено bin/
Будет удалено include/
Будет удалено lib/
Будет удалено pip-selfcheck.json
